html,
body {
margin: 0;
padding: 0;
height: 100%;
}

.hero {

  padding-top:25px;
  background-image: url("/Users/adreaaraoz/Sites/peppers/Images peppers/hero.jpg");
  background-size:cover;
}
header .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 15px;
}

.nav-link {
  color: #FFFFFF !important;
  font-weight: bold;
}
 .cta {
   color: #FFFFFF !important;
 }

 .btn-primary {
  background-color: #dc3545;
  border-color: #e20b0bfa;
}
.btn-primary:hover {
background-color: #dc3545;
border-color: #d51419;
}
.col {
  flex-basis: 0
  flex-grow: 1
  max-width: 100%
}
.hands-free-container {
  margin-top: 5em;
  margin-bottom: 5em;
}
