html,
body {
margin: 0;
padding: 0;
height: 100%;
}

.hero {

  padding-top:25px;
  background-image: url("/Users/adreaaraoz/Sites/peppers/Images peppers/hero.jpg");
  background-size: cover;
  height: 100%;

}

header.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 15px;
}

.nav-link {
  color: #FFFFFF !important;
  font-weight: bold;
}
 .cta {
   color: #FFFFFF !important;
 }

 .btn-primary {
  background-color: #dc3545;
  border-color: #e20b0bfa;
}
.btn-primary:hover {
background-color: #dc3545;
border-color: #d51419;
}
.col {
  flex-basis: 0
  flex-grow: 1
  max-width: 100%
}
.hands-free-container {
  margin-top: 5em;
}
.ig-logo {
left: 15px;
bottom: 15px;
position: absolute;
width: 40px;
}

  .style {
    padding-top: 32px !important;
    padding-left: 32px !important;
  }
  /******************************
  *******************************
  Rock N Roll Sunglasses
  ******************************/
  #Rock-sunglasses > .row {
    width: 600px;
    margin: 0 auto;
  }
  .Rock-frame {
    padding: 0 5px
  }
  .red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.black {
  background: black;
}
.footer {
  background-color: black;
}


.Rock-frame {
  padding: 0 5px;
}

.Rock-frame > p, .glasses-price {
  background-color: #fAfAfA;
  color: #000;
  text-align: center;
}

.Rock-frame > p {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 0;
}

p.glasses-price {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 0;
  padding-bottom: 1.5em;
}

.Rock-frame > h3 {
  background-color: #fAfAfA;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 1.5em;
  text-align: center;
}

.glasses-cta-container {
  background-color: #fAfAfA;
  padding-bottom: 3em;
  text-align: center;
}

/* responsive */

#mobile-products-container {
  display: block;
}

#desktop-products {
  display: none;
}

@media (min-width: 768px) {
  #mobile-products-container {
    display: none;
  }

  #desktop-products {
    display: block
  }
